    .erreur_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

    h1 {
        font-size: 5rem;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 254, 0.39);
    }


    p {
        font-size: 1.2rem;
        max-width: 1000px;
        background-color: rgba(255, 255, 254, 0.39);
    }
}

.button__erreur {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(69, 168, 255);
    background: rgb(248, 248, 62);
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;


    &:hover {
        background: linear-gradient(135deg, #0056b3, #6dAEFF);
        transform: translateY(-3px);
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }

}
.icones {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#menu-menu-404 {
    gap: 50px;
}
#menu-item-188 {
    font-size: 2rem;
    background-color: #0056b3;
}
#menu-item-189{
    font-size: 2rem;
    background-color: #0056b3;
}
#menu-item-190 {
    font-size: 2rem;
    background-color: #0056b3;
}
#menu-item-191{
    font-size: 2rem;
    background-color: #0056b3;
}

