.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;

    h1 {
        font-size: 5rem;
        color: #ff6b6b;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.2rem;
        color: #555;
        max-width: 600px;
    }

    img {
        width: 250px;
        margin: 20px 0;
    }
}

.button__erreur {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 3px solid #333;
    border-radius: 5px;
    background-color: #6dAEFF;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
}
