.erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button__erreur {
    border: 5px solid black;
    background-color: rgb(64, 150, 255);
    text-decoration: none;
}
.erreur p {
    color: black;
}
