/*
----------------Layout du pied de page
*/
footer{
    background-color: rgb(236,136,13);
    color: black;
    height: 100%;
}
 
.piedpage{
  display: flex;
  flex-direction: column;
  height: 630px;
  &__s1{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    &__externe{
        flex: 0 0 20%;
        & .menu{ //ul
            display: flex;
            flex-direction: column;
        }
    }
    &__adresse{
        flex: 0 0 40%;
        &__coord{}
        &__recherche{}
    }
    &__description{
        flex: 1 0 400px;
    }
   
  }
  &__s2 {
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
&__s3 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

}
.piedpage__s1__description {
    position: relative;
    padding: 30px 20px;
    border-radius: 12px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0); // léger fond blanc pour lisibilité
  
    h3 {
      font-size: 1.9rem;
      color: #000000;
      margin-bottom: 15px;
      z-index: 3;
      position: relative;
    }
  
    .piedpage__s1__mission__background {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.15;  // transparence
      z-index: 1;
      pointer-events: none; // ne gêne pas la sélection texte
    }
  
    .footer_mission {
      position: relative;
      font-size: 1.1rem;
      color: #222;
      line-height: 1.6;
      z-index: 2;
    }
  }
  

  
