.icones-sociales {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 13px;
    margin-top: 10px;
  }
  
  .icones-sociales li {
    transition: transform 0.2s ease;
  }
  
  .icones-sociales li:hover {
    transform: scale(1.2);
  }
  
  .icones-sociales img {
    width: 40px;
    height: 40px;
    transition: filter 0.3s ease, transform 0.3s ease;
  }
  
  